.svg-adobe-cs { background-image: url(png/adobe-cs.png); background-repeat: no-repeat; }

.svg-apple { background-image: url(png/apple.png); background-repeat: no-repeat; }

.svg-database { background-image: url(png/database.png); background-repeat: no-repeat; }

.svg-digital-design { background-image: url(png/digital-design.png); background-repeat: no-repeat; }

.svg-ni { background-image: url(png/ni.png); background-repeat: no-repeat; }

.svg-project { background-image: url(png/project.png); background-repeat: no-repeat; }

.svg-python { background-image: url(png/python.png); background-repeat: no-repeat; }

.svg-ux { background-image: url(png/ux.png); background-repeat: no-repeat; }